$ChauPhilomeneOne: Chau Philomene One; //Chau Philomene One, sans-serif;
$DaysOne: Days One; //font-family: 'Days One', sans-serif;
$Audiowide: 'Audiowide'; //font-family: 'Audiowide', cursive;

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg,#000000 0,#343c50 100%);
  background-color: #343c50;
  font-family: $ChauPhilomeneOne;

  p, span, a, h1 {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  .feedback,
  .enter {
    position: fixed;
    width: 150px;
    padding: 5px 10px 5px 40px;
    right: -135px;
    transition: 1s;
    cursor: pointer;
  }

  .enter {
    background-color: green;
    top: 5%;
    a {
      color: #323a4d;
      text-decoration: none;
    }
  }

  .feedback {
    background-color: red;
    color: #323a4d;
    top: 12%;
  }

  .feedback_input,
  .feedback_textarea,
  .feedback_button {
    display: none;
  }

  .feedback_input {
    position: absolute;
    border: 1px solid gray;
    width: 250px;
    top: 50%;
    margin-top: -13.5px;
    left: 50%;
    margin-left: -125px;
    border-radius: 10px; 
    z-index: 200;
    outline: none;
    text-align: center;
  }

  .feedback_textarea {
    position: absolute;
    border: 1px solid gray;
    height: 250px;
    width: 250px;
    top: 50%;
    margin-top: -125px;
    border-radius: 10px;
    left: 50%;
    margin-left: -125px;
    z-index: 200;
    outline: none;
    text-align: center;
  }

  .feedback_button {
    position: absolute;
    border: none;
    width: 250px;
    height: 250px;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -125px;
    border-radius: 100%;
    z-index: 200;
    outline: none;
    border: 1px solid gray;
    background: #fff;
    transition: 0.1s;
    font-family: $Audiowide;
    font-size: 60px;
    color: #191d27;
  }

  .feedback_button:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:1px 1px 100px 20px rgba(145,64,149,0.54);
  }

  #hello,
  #projects,
  #contacts,
  #feedback,
  #enter {
    opacity: 0;
  }

  .substrate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }

  #substrate_contacts {
    display: none;
  }

  .content {
    height: 100vh;
  }

  .square {
    width: 400px;
    height: 400px;
    min-width: 33%;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    transition: 1s;
  }

  .square:hover {
    box-shadow:1px 1px 100px 20px rgba(145,64,149,0.54);
    -webkit-box-shadow:1px 1px 100px 20px rgba(145,64,149,0.54);
    -moz-box-shadow:1px 1px 100px 20px rgba(145,64,149,0.54);
  }

  .info_col {
    display: none;
    position: absolute;
    top: 0;
    .card {
      position: relative;
      width: 50vw;
      height: 100vh;
      perspective: 1000px;
      border: none;
      background-color: transparent; 
      .front,
      .back {
        position: absolute;
        width: 100vh;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        backface-visibility: hidden;
        border-radius: 100%;
      }
      .front {
        img {
          border-radius: 100%;
        }
      }
      .back {
        border: 1px solid rgba(145,64,149,0.54);
        background-color: #fff;
        transform: rotateY(180deg);
      }
    }
    .card:hover {
      .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: rotateY(360deg);
      }
    }
  }

  .contacts_col {
    display: none;
  }

  .contacts_col {
    font-size: 25px;
    font-family: $DaysOne;
    a,
    i {
      color: #212529;
    }
  }

  #contacts {
    .glow {
      transition: 0.5s;
    }
  }

  #contacts:hover {
    .glow {
      color: #c498c6;
    }
  }

}